@import "tailwindcss";
@plugin "daisyui"; 

body{
background-color: #f8f5ee;
}

.buttonPrimary{
  background-color: #e0be4f ;
  color: #2e2e2e ;

}

.buttonPrimary:hover{
  background-color: #ffffff;
  border: 2px solid #e0be4f;
  color: #b09640;
}